<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/images/encuesta2.png" width="30" height="30" alt="" loading="lazy"> Encuesta
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " [routerLink]="['registro']">Registro</a>
            </li>
        </ul>
        <ul class="navbar-nav  ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>
        </ul>

    </div>
</nav>
